body {
background-color: #D8D8D8  ;  
}
ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color: #333;
}
li{
	float: left;
}
li a{
    display: block;
	color: white;
	text-align: center;
	padding: 14px 16px; 
	text-decoration: none;
}
p {
	font-size: 15px;
	font-family: Bookman;
}
h1 {
	font-family: Bookman;
	font-size: 30px;
	text-shadow: 1px 1px black;
	color: white;
}
h2{
	font-family: Bookman;
	text-shadow: 1px 1px black;
	color: white;
}
img {
	vertical-align: text-bottom;
}
table{
	border: 5px solid black ;
}
td{
	border: 3px solid grey;
}
.subheading{
	font-family: Georgia;
	font-style: italic;
	font-size: 10px
}
.blog_heading{
	font-size: 20px;
	text-align: center;
}
.blog_text{
	text-align: justify;
	
	
}
.bioheading{
	
	
	
}
